rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow read on all paths (Images/ and any other). Write denied.
    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
  }
}
